<div class="book-container" *ngFor="let book of books">
  <a [routerLink]="['/book', book.isbn]">
      <img [src]="book.cover" alt="Book Cover" class="book-cover">
      <div class="book-details">
          <h3 class="book-title">{{ book.title }}</h3>
          <p class="book-author"><strong>Author(s):</strong> {{ book.author.join(', ') }}</p>
          <p class="book-isbn"><strong>ISBN:</strong> {{ book.isbn }}</p>
          <p class="book-category"><strong>Category:</strong> {{ book.category }}</p>
          <p class="book-price"><strong>Price:</strong> ${{ book.price }}</p>
      </div>
  </a>
</div>
