<div class="side-menu">
  <div *ngIf="isLoggedIn()" class="menu-header">
    {{ userSession?.role | titlecase }}
  </div>

  <ng-container *ngIf="!isLoggedIn()">
    <a routerLink="/signin" class="menu-item">Sign In</a>
    <a routerLink="/signup" class="menu-item">Sign Up</a>
  </ng-container>

  <ng-container *ngIf="isClient()">
    <a routerLink="/book" class="menu-item">All Books</a>
  </ng-container>

  <a routerLink="/book/available" class="menu-item">Books Available</a>

  <ng-container *ngIf="isManager()">
    <a routerLink="/book/unavailable" class="menu-item">Unavailable Books</a>
    <a routerLink="/book/create" class="menu-item">Create New Book</a>
  </ng-container>

  <a routerLink="/category" class="menu-item">Categories</a>

  <ng-container *ngIf="isManager()">
    <a routerLink="/category/create" class="menu-item">Create New Category</a>
  </ng-container>

  <button *ngIf="isLoggedIn()" (click)="confirmLogout()" class="menu-item logout">Logout</button>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
